.collection-container{
    margin:10px;
    display:flex;
    flex-direction:column;
    align-items:start;
    flex-wrap: wrap;
}

.sub-container {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:100%;
    margin:10px;
}